.c-dropdown {
  outline: none;
  display: inline-block;
}

.c-dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.c-dropdown-item {
  list-style: none;
  line-height: 36px;
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  color: #606266;
  outline: none;
  transition: background-color 0.3s ease-in-out;
  &:not(.c-dropdown-item-disabled) {
    &:hover {
      background-color: #eeeeee;
    }
  }

  &.c-dropdown-item-active {
    cursor: pointer;
    background-color: #eeeeee;
  }
  &.c-dropdown-item-disabled {
    cursor: not-allowed;
    color: #bbbbbb;
  }
}

.modal-fade-enter,
.modal-fade-enter-active {
  animation: ModalShow 0.3s;
}

.modal-fade-leave-to {
  animation: ModalLeave 0.5s;
}

@keyframes ModalShow {
  from {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes ModalLeave {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
