.c-loading-bar-container {
  position: fixed;
  width: 100%;
  z-index: 10010;
  top: 0;
}

.c-loading-bar-chunk {
  width: 0;
  transition: width 0.2s ease-in;
  box-shadow: 0 0 1px 1px #ccc;
}


.c-fade-enter-active, .c-fade-leave-active {
  transition: opacity .3s;
}

.c-fade-enter, .c-fade-leave-to {
  opacity: 0;
}